.iconContent {
  display: flex;
  flex-direction: column;
  height: auto;
  position: relative;
  top: 28px;
}
.iconContent span {
  margin-top: 20px;
}
/**/
.iconContent span:hover {
  background-color: lightgray;
}
.btn {
  margin: 5px 10px;
  width: 85px;
  background: #4e59ff important!;

  text-transform: uppercase;
  background: #4e59ff;
}

.container {
  margin-top: 25px;
  justify-content: space-between;
}
#form-select {
  max-width: 800px;
  height: 45px;
  display: flex;
  margin-top: 25px;
}
.head {
  margin-bottom: 5px;
  font-weight: 100;
}
.form-select {
  margin: 5px 10px;
}
tbody tr {
  margin: 5px 10px;
  padding: 15px;
}
table {
  width: 1024px;
  margin-left: 250px;
  text-decoration: none;
  justify-content: space-between;
}
tr:hover {
  border: 0.5px solid #4e59ff;
  height: 65px;
  cursor: pointer;
  border-radius: 15px;
  background-color: #e8e9fa;
}
