.iconContent {
  display: flex;
  flex-direction: column;
}
.iconContent span {
  margin-top: 20px;
}
.iconContent span :hover {
  background-color: #4e59ff;
}
.container {
  margin-top: 25px;
}
#form-select {
  max-width: 600px;
  height: 45px;
  display: flex;
  margin-top: 25px;
}
.head {
  margin-bottom: 5px;
  font-weight: 100;
}
.form-select {
  margin: 5px 10px;
}
table {
  width: 1024px;
  margin-left: 250px;
  text-decoration: none;
  justify-content: space-between;
}
tr:hover {
  border: 0.5px solid #4e59ff;
  height: 65px;
  cursor: pointer;
  border-radius: 15px;
  background-color: #e8e9fa;
}
.btn-solo {
  background: #4e59ff;
}
/* .sidenav {
  display: flex;
  flex-direction: column;
  background-color: antiquewhite;
  width: 150px;
  height: auto;
  margin: 20px 15px;
  justify-content: space-between;
  align-items: space-between;
}
.section {
  position: relative;
}
.icon {
  color: #4e59ff;
}
.list-data {
  display: flex;
  width: 600px;
  justify-content: space-between;
  list-style-type: none;
  cursor: pointer;
}
.dataContent {
  display: flex;
  width: 600px;
  justify-content: space-between;
  list-style-type: none;
}
.dataConten:nth-child(even) {
  background-color: #4e59ff;
}
.dataContent:hover {
  border: 1px solid #4e59ff;
  border-radius: 5px;
  height: 55px;
  width: 850px;
}
.dashboard {
  max-width: 1200px;
  margin-top: 15px;
  margin-left: 15px;
  justify-content: space-between;
}
.selectItem {
  margin-left: 300px;
}
.select {
  width: 200px;
  height: 30px;
  margin: 15px;
}
.data {
  margin-left: 270px;
  margin-top: 25px;
}
#dataItem {
  width: auto;
} */
